body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
h1 span {
  color: darkblue;
}
footer {
  text-align: right;
  color: midnightblue;
}

/* My CSS */
.tile-image {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 50px;
}
.card {
  display: inline-block;
  width: 45%;

}
.left {
  float: left;
}
.right {
  float: right;
}
@media(max-width: 680px) {
  img.logo {
    height: 20px;
    width: 100px;
  }
  h1 {
    text-align: center;
    font-size: 3.5rem;

  }
  .tile-image {
    float: none;
    margin-right: 0px;
    width: 100%;
    display: inline;
    object-fit: cover;
    margin-bottom: 0.5rem;
    

  }
  .left {
    float: none;
  }
  .right {
    float: none;
  }
  .card {
    display: block;
    text-align: justify;
    width: 100%;
    margin-bottom: 3rem;

  }
  .card-title {
    margin-top: 0px;
  }
  
}

